<a href="https://colab.research.google.com/github/Jala-Bhargav/pandaspractice/blob/main/Basics_python_practice_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
a =5

In [ ]:
a+5

10

In [ ]:
s = "Hello World"
s = s.replace("World","Universe")
print(s)

Hello Universe

In [ ]:
# define strings
firstname = "Bugs"
lastname = "Bunny"

# define our sequence
sequence = (firstname,lastname)

# join into new string
name = " ".join(sequence)
print(name)

Bugs Bunny

In [ ]:
s = "That I ever did see. Dusty as the handle on the door"

index = s.find("Dusty")
print(index)

21

In [ ]:
s = "Its to easy"
words = s.split()
print(words)

['Its', 'to', 'easy']

In [ ]:
print(len(words))

3

In [ ]:
import random

# Create a random floating point number and print it.
print(random.random())

0.8717978961601686

In [ ]:
print(random.randrange(0,10))

9

In [ ]:
print(random.uniform(0,10))

5.51414743277487

In [ ]:
name = input('What is your name? ')
print('Hello ' + name)

What is your name? excelr
Hello excelr

In [ ]:
x = 3
if x < 10:
    print('x below ten')

x below ten

In [ ]:
x = 4
if x < 5:
    print("x is smaller than five")
    print("this means it's not equal to five either")
    print("x is an integer")

x is smaller than five
this means it's not equal to five either
x is an integer

In [ ]:
city = ['Tokyo','New York','Toronto','Hong Kong']
print('Cities loop:')
for x in city:
    print('City: ' + x)

print('\n')  # newline

Cities loop:
City: Tokyo
City: New York
City: Toronto
City: Hong Kong

In [ ]:
x = 3
while x < 10:
    print(x)
    x = x + 1

3
4
5
6
7
8
9

In [ ]:
def currentYear():
    print('2023')

In [ ]:
currentYear()

2023

In [ ]:
ratings = [ 'A','A','B','A','C','A' ]

In [ ]:
print(ratings)

['A', 'A', 'B', 'A', 'C', 'A']

In [ ]:
ratings[2]

'B'

In [ ]:
list2 = [1,3,4,6,4,7,8,2,3]

In [ ]:
print(sum(list2))

38

In [ ]:
print(min(list2))

1

In [ ]:
print(list2[-1])

3

In [ ]:
x = [3,4,5]
x.append(6)

In [ ]:
x

[3, 4, 5, 6]

In [ ]:
x.append(7)
print(x)
x

[3, 4, 5, 6, 7]

[3, 4, 5, 6, 7]

In [ ]:
x.pop(3)
print(x)
x

[3, 4, 5, 7]

[3, 4, 5, 7]

In [ ]:
x = [3,6,21,1,5,98,4,23,1,6]
x.sort()
print(x)

[1, 1, 3, 4, 5, 6, 6, 21, 23, 98]

In [ ]:
x = list(range(100))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
x = list(range(1,101))
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
words = {}
words["BMP"] = "Bitmap"
words["BTW"] = "By The Way"
words["BRB"] = "Be Right Back"

In [ ]:
words

{'BMP': 'Bitmap', 'BTW': 'By The Way', 'BRB': 'Be Right Back'}

In [ ]:
print(words["BMP"])

Bitmap

In [ ]:
print(words["BRB"])

Be Right Back

In [ ]:
persons = [ "John", "Marissa", "Pete", "Dayton" ]
restaurants = [ "Japanese", "American", "Mexican", "French" ]

for person in persons:
    for restaurant in restaurants:
        print(person + " eats " + restaurant)

John eats Japanese
John eats American
John eats Mexican
John eats French
Marissa eats Japanese
Marissa eats American
Marissa eats Mexican
Marissa eats French
Pete eats Japanese
Pete eats American
Pete eats Mexican
Pete eats French
Dayton eats Japanese
Dayton eats American
Dayton eats Mexican
Dayton eats French

In [ ]:
persons = [ "John", "Marissa", "Pete", "Dayton" ]

slice = persons[0:2]
print(slice)

['John', 'Marissa']

In [ ]:
def getPerson():
    name = "Leona"
    age = 35
    country = "UK"
    return name,age,country

name,age,country = getPerson()
print(name)
print(age)
print(country)

Leona
35
UK

In [ ]:
import time

In [ ]:
timenow = time.localtime(time.time())

In [ ]:
timenow

time.struct_time(tm_year=2023, tm_mon=7, tm_mday=10, tm_hour=15, tm_min=41, tm_sec=10, tm_wday=0, tm_yday=191, tm_isdst=0)

In [ ]:
a = [1,2,3,4]
a

[1, 2, 3, 4]

In [ ]:
b = pd.Series(a)

In [ ]:
type(b)

pandas.core.series.Series

In [ ]:
b

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
c =(1,2,3,4)

In [ ]:
type(c)

tuple

In [ ]:
df = pd.DataFrame({'col1':['A','B','A','A'],'col2':[1,2,1,3]})

In [ ]:
df

  col1  col2
0    A     1
1    B     2
2    A     1
3    A     3

In [ ]:
df.duplicated()

0    False
1    False
2     True
3    False
dtype: bool

In [ ]:
df[df.duplicated()]

  col1  col2
2    A     1

In [ ]:
df1 = df.drop_duplicates()

In [ ]:
df1

  col1  col2
0    A     1
1    B     2
3    A     3

In [ ]:
df2 =df1.reset_index()

In [ ]:
df2

   index col1  col2
0      0    A     1
1      1    B     2
2      3    A     3

In [ ]:
df3 = df2.drop('index',axis = 1)
df3

  col1  col2
0    A     1
1    B     2
2    A     3